<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ConfigServlet</display-name>
<servlet>
<servlet-name>parth</servlet-name>
<servlet-class>com.model.ConfigServlet</servlet-class>
<init-param>
<param-name>databaseURL</param-name>
<param-value>mqsql:localhost:3306/mydatabase</param-value>
</init-param>
<init-param>

<param-name>username</param-name>
<param-value>admin</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>parth</servlet-name>
<url-pattern>/config</url-pattern>

</servlet-mapping>
</web-app>